<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MLBotApproach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">

</head>

<body>

    <img src="{{ url_for('static',filename='img/softkathon.jpeg')}}" alt="">
    <!-- partial:index.partial.html -->
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
                <span class="title">
               Yort-BOT
            </span>
                <button>
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>

            </div>
            <ul class="messages">
                <!-- Seccion de chat -->
            </ul>
            <div class="footer">
                <div class="text-box" id="box" contenteditable="true" disabled="true"></div>
                <button id="sendMessage">send</button>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="{{ url_for('static',filename='js/script.js')}}"></script>

</body>

</html>